<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />


  </head>
  <body>
    {{{body}}}
    <footer>
      <button id='logout'>log out</button>
      <a href="/logout">GET OUT</a>
    </footer>
  </body>
</html>
