<div>
  <h1>{{title}}</h1>
  <p>{{message}}</p>
  <div id ="login">
    <div id="loginbox">
    <link href="/stylesheets/login.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
      <form action = "/" method = "POST">
        <div id="username">
          <label>Username</label>
          <input type = "text" name = "username">
        </div>
        <div id="password">
          <label>Password</label>
          <input type = "password" name = "password">
        </div>
<!--        <div class="bigbtn" method="link" action='/register' -->
        <div class="bigbtn"><input class="inputbtn" type = "submit" value="Login"></div>
      </form>
      <form action = "/users/register" method = "GET">
        <div class="bigbtn"><input class="inputbtn" type="submit" value="Sign Up">
      </form>
      </div>
    </div>
  </div>
</div>
