<h1>{{title}}</h1>
<p>{{message}}</p>
<form class="outerbox" action="/users" method="POST">
  <div class="namefield">
    <link href="/stylesheets/register_edit.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <label>Username</label>
    <input type="text" name="username">
  </div>
  <div class="passwordbox">
    <label>Password</label>
    <input type="password" name="password">
  </div>
  <input class="submitbtn" type="submit" value="Sign Up">
</form>
