body {
  background: url("/img/bfhfrontpage.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.outerbox {
  margin: auto;
  width: 300px;
  height: 100px;
  border-radius: 3%;
  background-color: #434343;
  padding-top: 5%;
  padding-left: 5%;
  border-style: dotted;
  border-width: 3px;
  border-color: white;
}

.namefield {
  font-weight: medium;
  font-size: 1.5em;
  margin-bottom: .5em;
  margin-top: -.5em;
  color: white;
}

.textfield {
  font-weight: medium;
  font-size: 1.5em;
}

.passwordbox {
  font-weight: medium;
  font-size: 1.5em;
  margin-top: .5em;
  color: white;
}

textarea {
  min-height: 5em;
}

.submitbtn {
  background-color: #c9c9c9;
  border-radius: .5em;
  margin: auto;
  margin-top: 1em;

}
