body {
  background color: #00B7FF;
  padding: 10%;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #00B7FF;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: black;
}

