body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#CreateTracksContainer {
  width: 600px;
  height: auto;
  margin: auto;
  border: solid 1px black;
  text-align: center;
}
