body {
  background color: #00B7FF;
  padding: 10%;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #00B7FF;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: black;
}

@media (max-width: 600px){
  body {
  background: url("/img/frontpagebfh-smalltall.png") center top fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  font-family: 'Ubuntu', sans-serif;
  }

  h2 {
    color: white;
  }
}
